{% extends "layout.html" %}
{% block content %}
	<div class = "content-section">
		<h1>Opps. Page Not Found (404) </h1>
		<p>That page does not exist. Please try a different location </p>
	</div>
{% endblock content %}